*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);

    --text-primary:#07D962;
    --text-secondary:#07D962;

    --surface-primary:#e2e8f0;
    --surface-secondary:#5E3FA6;
    --surface-tertiary:#FFB612;

}

header{
    display: grid;

    background-color: black;
    color: #e2e8f0;

    height: 8rem;
    width: 100%;

    padding: 1rem 2rem;

    & h1{
        justify-self: center;
    }
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    & li a {
        color: #e2e8f0;
        text-decoration: none;
    }
}
